.category {
    display: flex;
    flex-direction: column;
    padding: 100px 20px;

    .manage-category {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid red;
    }
}