.drawer {
    border-right: 1px solid rgba(205, 194, 194, 0.63);
    min-height: 100vh;
    .top {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid rgba(205, 194, 194, 0.63);
        .logo {
            font-weight: bold;
            color: rgba(41, 41, 226, 0.5);
        }
    }
    .center {
        font-weight: bolder;
        color: rgb(45, 40, 40);
        .drawer-item {
            display: flex;
            align-items: center;
            list-style: none;
            padding: 5px 30px;
            cursor: pointer;
            Link {
                text-decoration: none;
            }
            &:hover {
                color: transparent;
                background-color: rgba(188, 147, 227, 0.566);
            }
        }
        .icons {
            height: 20px;
            width: 20px;
            margin-right: 8px;
        }

        .tittle {
              font-size: 12px;
              font-weight: bold;
              color: #999;
              margin-top: 15px;
              margin-bottom: 5px;
              padding-left: 20px;
        }
    }

    .buttom {
        padding-top: 100px;
    }
}